
.logo {
    width: 80%;
    height: 150px;
    margin-left: 260px;
}

.menu {
    border: 3px solid cornflowerblue;
    width: 100%;
    height: 56px;
    margin-bottom: 30px;
    background-color: #8cf8f8;
}

.menu li{
    float: left;
    margin-left: 180px;
    list-style: none;
}




.computadoras {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}
.pc01 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.pc02 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.pc03 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.pc04 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.pc05 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

.monitores {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}
.moni01 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

.moni02 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

.moni03 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

.moni04 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

.moni05 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

.teclados {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}
.tecla01 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px; 
}
.tecla02 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.tecla03 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.tecla04 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.tecla05 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

.mouse {
    width: 100%;
    height: 150px;
}
.mou01 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.mou02 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.mou03 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.mou04 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}
.mou05 {
    width: 17%;
    height: 140px;
    float: left;
    margin-left: 43px;
}

