* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    list-style: none;
    text-align: center;
}

.menu li{
    float: left;
    background-color: black;
    color: white;
    padding: 10px 25px;
    width: 250px;
    border-right: 2px solid white;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li:hover { /* hover es una animacion que sucede encima del texto
    cuando el cursor del mouse pasa sobre el */
    background-color: wheat;
    cursor: pointer;
}

.menu li:hover .sub-menu{
    display: block; /* Sirve que se muestre cuando se
    pase el cursor del mouse sobre él */ 
}

.menu .li-submenu:hover{
    padding-bottom: 0;
}

.sub-menu{
    list-style: none;
    display: none; /* Sirve para no mostrar(none)*/
    padding: 0;
    margin-top: 12px;
    margin-left: -25px;
    text-align: left;
}

.sub-menu li {
    clear: left; /* Pone en vertical la lista */
}

.sub-menu li:hover{
    background-color: black;
    font-weight: bold;
}

.li-submenu:hover{
    padding-bottom: 0;
}

ol{
    margin-top: 50px;
    clear: left;
}
