.principal {
    width: 100%;
}

.redes-sociales {
    height: 40px;
}

.redes-sociales ul {
    list-style: none;
    cursor: point;
}

.redes-sociales ul li {
    float: right;
    margin-top:-15px;
}

.redes-sociales:hover{
    cursor: pointer;
}

.logo {
    height: 150px;
    list-style: none;
}






/*------------------------ MENU--------------------- */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    list-style: none;
}

.menu li{
    float: left;
    background-color: black;
    color: white;
    width: 250px;
    border-right: 2px solid white;
    padding: 10px 25px 10px 25px;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li:hover { /* hover es una animacion que sucede encima del texto
    cuando el cursor del mouse pasa sobre el */
    background-color: wheat;
    cursor: pointer;
    padding-bottom: 0;
}

.menu li:hover .sub-menu{
    display: block; /* Sirve que se muestre cuando se
    pase el cursor del mouse sobre él */ 
}

.menu .li-submenu:hover{
    padding-bottom: 0;
}

.sub-menu{
    list-style: none;
    display: none; /* Sirve para no mostrar(none)*/
    padding: 0;
    margin-top: 12px;
    margin-left: -25px;
    text-align: left;
}

.sub-menu li {
    clear: left; /* Pone en vertical la lista */
}

.sub-menu li:hover{
    background-color: black;
    font-weight: bold;
}

.li-submenu:hover{
    padding-bottom: 0;
}

/* ---------------------------------------------------------------------------- */

.articulo {
    background-color: black;
    margin-top: 120px;
    border: 25px dashed red;
    border-style: outset;
    width: 100%;
    height: 660px;
    box-sizing: border-box;
}



.imagenes {
    border: 3px solid whitesmoke;
    width: 32%;
    height: 280px;
    float: left;
    margin: 12px 12px 12px 12px;
    box-sizing: border-box;
}

.imagenes:hover{
    cursor: pointer;
}


