body {
    background-color: #fafaf5ea;
    /* background: linear-gradient(120deg, #d64d0eea, #7fa5cf5e); */
    color: rgb(140, 0, 255);
}

p {
    color: blueviolet;
    text-align: justify;
}

#conteiner-menu {
    /* border: 2px solid */ /* marca un borde dentro la caja del div, 2px es el grosor de la linea */
    width: 20%; /* Ancho de la caja */
    float: left; /* Hacia donde se ubica */
    height: 400px; /* Alto de la caja */
    background-color: #eff316;
    
}

#conteiner-texto {
   
    width: 40%;
    float: left;
    height: 400px;
    background-color: #eff316;
}

#conteiner-imagen {
    
    width: 22%;
    float: left;
    margin-top: 58px; /* Marca una margen desde los limites de la pagina */
    
}