/* Gracias a los medias queries de css podemos personalizar
o aplicar estilos de acuerdo a ciertas condicones,
screen: se utiliza para indicar que se debe en dispositivos
como computadoras, tablets o celulares */

.relleno{
    background-color: aqua;
}


@media screen and (max-width: 600px) {
    .relleno{
        background-color: yellow;
    }
    .label{
        color: black;
    }
    .divRow{
        
        display: inline-flex;
        flex-direction: column;
    }
    
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

form {
    padding: 5px;
}

label {
    font-size: 12px;
    color: white;
}

.lblEtiqueta {
    width: 12%;
}

