* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

.menu li{
    float: left;
    background-color:blue;
    color: white;
    padding: 10px 25px;
    margin-top: -21px;
    margin-inline: 10px;
    width: 250px;
    border-right: 0px solid white;
}

.menu li a {
    color:white;
    text-decoration: none;
}

.menu li:hover {
    background-color:#14cfb0de;
    cursor: pointer;
}

.menu li:hover .sub-menu{
    display: block;
}

.menu .li-submenu:hover{
    padding-bottom: 0;
}

.sub-menu{
    list-style: none;
    display: none; 
    padding: 0;
    margin-top: 10px;
    margin-left: -35px;
    text-align: left;
}

.sub-menu li {
    clear: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub-menu li:hover{
    background: color #000;
    font-weight: bold;
}

.li-submenu:hover{
    padding-bottom: 0;
}